* {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  width: 60rem;
  height: 30rem;
  border-radius: 1.5rem;
}

.containerOne {
  width: 15rem;
  height: 30rem;
  border-radius: 1.5rem;
}

#first-item {
  border: 1px red solid;
  width: 15rem;
  height: 65%;
  border-radius: 1.5rem;
}

#second-item {
  border: 1px green solid;
  width: 15rem;
  height: 35%;
  border-radius: 1.5rem;
}

.containerTwo {
  display: flex;
  width: 45rem;
  height: 15rem;
  border-radius: 1.5rem;
}

#premier-item {
  border: 1px blue solid;
  width: 15rem;
  height: 15rem;
  border-radius: 1.5rem;
}

#deuxieme-item {
  border: 1px blue solid;
  width: 15rem;
  height: 15rem;
  border-radius: 1.5rem;
}

#troisieme-item {
  border: 1px blue solid;
  width: 15rem;
  height: 15rem;
  border-radius: 1.5rem;
}

.containerThree {
  display: flex;
  width: 45rem;
  height: 15rem;
  border-radius: 1.5rem;
}

#quatrieme-item {
  border: 1px blue solid;
  width: 15rem;
  height: 15rem;
  border-radius: 1.5rem;
}

#cinquieme-item {
  border: 1px blue solid;
  width: 15rem;
  height: 15rem;
  border-radius: 1.5rem;
}

#sixieme-item {
  border: 1px blue solid;
  width: 15rem;
  height: 15rem;
  border-radius: 1.5rem;
}
